<div class="book book--detail">
    <div class="book-title">
        {{this.model.title}}
    </div>
    <div class="book-author">
        {{this.model.author}}
    </div>
    <div class="book-description">
        {{this.model.description}}
    </div>
</div>