{{page-title "Books"}}

<div class="book-list">

    {{#each this.model as |book|}}

    <LinkTo @route="book" @model={{book.id}} class="book">
        {{book.title}}
    </LinkTo>


    {{/each}}
</div>